{% extends 'base.html' %}

{% block content %}
<h2>User List</h2>
<div class="user-list">
    <ul>
        {% for user in page_obj %}
        <li>{{ user.username }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}